@import "desktop.css";
@import "mobile.css";
@import "variables.css";

body {
  font-family: 'Bebas Neue';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.bw, .color {
  height: 100%;
  position: absolute;
  width: 100%;
}

.color {
  opacity: 0;
  transition: opacity 0.8s;
}

.portfolio-content {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}

.portfolio-content .images {
  width: 100vw;
}

.portfolio-content img {
  cursor: pointer;
}

.imdb {
  color: var(--sun-orange);
  display: block;
  text-align: center;
  letter-spacing: 0.085em;
  text-decoration: none;
}

.menu-img .bw {
  z-index: 1;
}

.menu-img .color {
  z-index: 2;
}

.menu-item {
  cursor: pointer;
  position: relative;
}

.menu-title {
  background:white;
  color: black;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 32px;
  opacity: 0.6;
  padding: 17px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 3;
}

.name-card {
  background-color: var(--dark-gray);
  box-sizing: border-box;
  color: white;
  font-weight: 700;
  letter-spacing: 0.275em;
}

.portfolio-bar {
  background-color: var(--sun-orange);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: Lato;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.08em;
  padding: 5px 0;
  justify-content: space-evenly;
}

.portfolio-bar a:first-child {
  margin-left: 0;
}

.portfolio-bar a:last-child {
  margin-right: 0;
}

.portfolio-item {
  color: var(--sun-fade);
  cursor: pointer;
  margin: 0 24px;
  text-decoration: none;
}

.portfolio-item:hover, .portfolio-item.current {
  color: white;
}

.portfolio-item.current {
  color: white;
}

.title-bar {
  background-color: var(--sun-orange);
  color: white;
  font-family: 'Lato';
  letter-spacing: 0.08em;
}

.modal {
  display: none;
  left: 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-image {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-image img {
  height: 100%;
}

.scrim {
  background-color: var(--dark-gray);
  height: 100%;
  opacity: 0.6;
  width: 100%;
  z-index: 999;
}

.row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 100%;
}

.row .image:first-child {
  margin-left: 0;
  margin-top: 0;
}

.row .image:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.stack-row {
  align-items: center;
  justify-content: center;
  object-fit: scale-down;
  display: flex;
  width: 100%;
}

.image {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 10px;
}

.wrapped .image {
  margin: 10px 0;
}

.image img {
  object-fit: scale-down;
  max-width: 100%;
  min-width: 0;
  height: 100%;
}

.row.wrapped:first-child {
  margin-top: 0;
}

.row.wrapped:last-child {
  margin-bottom: 0;
}

.row.wrapped img {
  height: auto;
}

video {
  cursor: pointer;
}


@media only screen and (min-width:1200px) {
  .portfolio-bar {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
}
